/* Global Styles */
body {
  font-family: "Courier New", Courier, monospace;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  color: #333;
  font-size: 0.95rem;
}

h1,
h2,
h3 {
  color: #222;
  text-align: center;
}

h1 {
  font-size: 2.25rem;
}

h2 {
  font-size: 1.75rem;
}

h3 {
  font-size: 1.25rem;
}

p,
.content-section {
  color: #fff;
}

/* Nav */
@media (max-width: 768px) {
  nav {
    background: #264c5d;
    z-index: 9;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.chris-nav {
  display: flex;
  justify-content: space-between;
  height: 72px;
}

.chris-nav > div {
  flex: 1;
  margin: 0 !important;
}

.hamburger {
  display: none;
  cursor: pointer;
  flex-direction: column;
  gap: 0.3rem;
}

@media (max-width: 768px) {
  .hamburger {
    display: flex;
    display: flex;
    margin-left: auto;
    width: 30px;
    max-width: 30px;
  }
}

.hamburger .line {
  width: 25px;
  height: 3px;
  background-color: white;
}

ul.main-nav {
  list-style: none;
  list-style-type: none;
  justify-content: flex-end;
  padding-inline-start: 0;
  margin: 0;
  display: flex;
}

@media (max-width: 768px) {
  ul.main-nav {
    display: none;
    flex-direction: column;
    transition: transform 0.3s ease-in;
    padding-inline-start: 20px;
  }
  ul.main-nav.active {
    display: flex;
    position: absolute;
    background: #264b5d;
    transition: 0.2s ease-in;
    min-width: 34%;
    right: 0;
    top: 30px;
    padding-bottom: 1rem;
  }
}

.main-nav.active {
  transform: translateX(0%);
}

ul.main-nav li {
  list-style: none;
  padding: 1rem;
  font-size: 1rem;
}

ul.main-nav li:hover {
  cursor: pointer;
}

@media (max-width: 768px) {
  .close-nav {
    width: 100%;
    font-weight: bold;
    font-size: 1.25rem;
    padding-top: 6px;
    width: 90%;
    display: flex;
    justify-content: flex-end;
  }
}

.site-heading {
  font-weight: 300;
  color: white;
}

@media (max-width: 768px) {
  .site-heading {
    margin: 0.5rem auto;
  }
}

/* Sections */
.section {
  padding: 2rem;
  margin: 0 auto;
  max-width: 1200px;
}

@media (max-width: 768px) {
  .section {
    padding: 0.5rem 1rem;
  }
}

/* Branding */
#site-name {
  display: flex;
  align-items: center;
  padding: 1rem;
}

#site-name h1 {
  color: white;
  letter-spacing: 0.15em;
  overflow: hidden;
  /* Ensures the content is hidden until it's typed out */
  white-space: nowrap;
  /* Prevents text from wrapping */
  border-right: 0.1em solid transparent;
  /* Cursor effect */
  display: inline-block;
  /* Necessary for width animation to take effect */
  animation: typing 3s steps(17) forwards, blink-caret 0.5s step-end 8;
  /* Adjusted animations */
  font-size: 1.75rem;
  font-weight: bold;
  padding-left: 2.5rem;
  margin-bottom: 0;
}

@media (max-width: 768px) {
  #site-name h1 {
    font-size: 1.75rem;
    padding-left: 0;
  }
}

@media (max-width: 350px) {
  #site-name h1 {
    font-size: 1.25rem;
  }
}

@media (max-width: 350px) {
  #site-name {
    padding: 0.25rem;
  }
}

@keyframes typing {
  from {
    width: 0;
    max-width: 0;
  }
  to {
    width: 100%;
    max-width: 21ch;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
to {
    border-color: transparent;
  }
  50% {
    border-color: white;
  }
}

.inner-content {
  display: flex;
  justify-content: center;
  position: relative;
}

.content-row {
  display: flex;
  max-width: 900px;
  justify-content: center;
  align-items: center;
  color: white;
}

.content-row.column {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: left;
}

video.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  max-height: 100%;
  width: auto;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
  object-fit: cover;
}

.with-img-right img {
  max-width: 300px;
  margin-left: 1rem;
}

.with-img-left img {
  max-width: 300px;
  margin-right: 1rem;
}

/* About Me Section */
.aboutme-section h1 {
  flex: 1;
  text-align: left;
}

.aboutme-section img {
  max-width: 300px;
  border-radius: 50%;
  margin-left: 20px;
}

/* Projects Section */
.grid-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 1000px;
  margin: 0 auto;
  gap: 0.8rem;
}

.grid-container .grid-item {
  flex: 1 1 calc(33% - 1rem);
  background-color: #f9f9f9;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.5s ease, transform 0.4s ease;
  text-align: center;
  text-decoration: none;
  color: #222 !important;
  border: 4px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.grid-container .grid-item.skill-item {
  flex: calc(30% - 4rem);
}

.grid-container .grid-item h3 {
  margin-top: 0;
}

.grid-container .grid-item:hover {
  transform: scale(1.001);
  box-shadow: 5px 2px 15px #417691;
}

.project-description {
  color: #222;
}

.project img {
  width: 100%;
  max-width: 300px;
  height: auto;
  max-height: 150px;
  border-radius: 10px;
}

.related-skills {
  margin: 0.5rem 0 0;
}

.related-skills p {
  display: inline-block;
  background-color: #4caf50;
  color: white;
  padding: 2px 7px;
  margin: 5px;
  border-radius: 5px;
  font-size: 0.7rem;
}

/* Skills Section */
.skill-section ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

.skill-grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

ul.related-skills li {
  text-align: center;
  list-style-type: none;
}

.skill-icon-large {
  width: 80px;
  height: auto;
  max-height: 71px;
  margin-bottom: 10px;
}

/* Testimonial Section */
.testimonial-section {
  text-align: center;
}

.testimonial {
  font-style: italic;
  font-size: 1.2rem;
}

.testimonial p {
  display: inline-block;
  max-width: 800px;
  margin: 0 auto;
}

figure img {
  max-width: 100%;
  height: auto;
}

.cv-modal {
  background: white;
  box-shadow: 7px 2px 5px 1px #827a7a;
  max-width: 651px;
  margin: auto;
}

.cv-modal > * {
  color: black;
  padding: 0 2rem;
}

.cv-modal {
  position: relative;
}

.cv-modal .download-cv {
  position: absolute;
  top: 2rem;
  right: 2rem;
  color: white;
  background: black;
  padding: 4px 8px;
  border-radius: 3px;
}

/*ABOUT*/
.about-content p:nth-child(2) {
  max-width: calc(100% - 370px);
  float: left;
  box-sizing: border-box;
}

@media (max-width: 768px) {
  .about-content p:nth-child(2) {
    float: none;
    max-width: 100%;
    order: 1;
  }
}

.about-content p:nth-child(4) {
  clear: left;
}

.about-content figure {
  width: 280px;
  float: right;
  margin-top: 0;
  margin-left: 20px;
  box-sizing: border-box;
}

@media (max-width: 768px) {
  .about-content figure {
    order: 0;
    width: 70px;
    float: none;
    /* Remove floating for better layout on small screens */
    border-radius: 50%;
    margin-left: 0;
    text-align: center;
    position: relative;
  }
  .about-content figure:after {
    content: "Hello!";
    position: absolute;
    width: 30px;
    color: white;
    height: 20px;
    top: 0.5rem;
    left: 110%;
  }
}

@media (max-width: 768px) {
  .about-content figure img {
    max-width: 70px;
    border-radius: 50%;
  }
}

@media (max-width: 768px) {
  .about-content {
    display: flex;
    flex-direction: column;
  }
}

/* Responsiveness */
@media (min-width: 768px) {
  .mob-only {
    display: none;
  }
  .dt-only {
    display: none;
  }
}

@media (max-width: 768px) {
  .mob-only {
    display: flex;
  }
  .dt-only {
    display: flex;
  }
  .aboutme-section {
    flex-direction: column;
    text-align: center;
  }
  .aboutme-section img {
    margin: 20px 0 0 0;
  }
  .project {
    flex: 1 1 100%;
  }
}

.magic-underline h2,
.magic-underline h3 {
  display: inline-block;
  position: relative;
}

.magic-underline h2.black h3,
.magic-underline h3.black h3 {
  color: black;
}

.magic-underline h2.black h3:after,
.magic-underline h3.black h3:after {
  background-color: black;
}

.magic-underline h3:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #fff;
  transform-origin: bottom right;
  transition: transform 0.5s ease-out;
}

.magic-underline.black h3:after {
  background-color: black;
}

.magic-underline:hover h3:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

footer a.back-to-top {
  font-size: 2rem;
  text-align: right;
  margin-left: auto;
  color: white;
  position: absolute;
  top: 2rem;
  right: 2rem;
  background: black;
  border-radius: 2px;
  padding: 0px 10px 10px;
  height: 1.8rem;
}

@media (max-width: 768px) {
  footer a.back-to-top {
    right: 1.5rem;
    top: 0;
  }
}

footer .footer-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #264c5d;
  width: 70%;
  margin: 0 auto;
  position: relative;
  padding: 2rem;
  border: 2px solid transparent;
  border-bottom: none !important;
  transition: border-color 0.3s ease-in-out;
  border-radius: 3px;
}

footer .footer-content:hover {
  border-color: #417691;
}

footer div#site-name {
  font-size: 1.5rem;
  text-align: left;
}

footer h3 {
  color: white;
}

footer .my-details {
  text-align: center;
}

footer .my-details .detail {
  font-weight: bold;
}

footer .my-details .detail img {
  width: 20px;
  filter: invert(1);
}

@media (max-width: 350px) {
  footer .my-details .detail {
    flex-direction: column;
    display: flex;
    max-width: 100%;
  }
}

footer .my-details .detail {
  line-break: anywhere;
  font-weight: normal;
  position: relative;
}

footer .copyright {
  margin-top: 1rem;
  text-align: center;
}

@media (max-width: 768px) {
  footer {
    padding: 0 !important;
    max-width: 100%;
  }
  footer ul.main-nav {
    display: flex !important;
  }
  footer .footer-content {
    max-width: 100%;
    padding: 2rem 1rem;
  }
}

footer:hover {
  border-color: #4789a7;
}
