{% load static %}
{% block footer %}
  <div class="footer-inner">
    <div class="footer-content">
      <a href="#site-name" class="back-to-top">^</a>
      <h3>Get in touch!</h3>
      <div class="my-details">
        <p class="detail">
          LinkedIn:
          <a href="{{ MY_LINKEDIN }}">
            <img src="{% static 'images/linkedin.png' %}" alt="">
          </a>
        </p>
        <p class="detail">
          Github:
          <a href="{{ MY_GITHUB }}">
            <img src="{% static 'images/github.png' %}" alt="">
          </a>
        </p>
        <p class="detail"></p>
      </div>
      <form id="my-contact-form" action="/contact-me/" method="post">
        <input type="hidden" name="next" value="{{ request.path }}">
        {% csrf_token %}
        {% for field in contact_form %}
          <div class="form-group {{ field.label }}">
            {{ field }}
            {% if field.help_text %}<small class="form-text text-muted">{{ field.help_text }}</small>{% endif %}
            {% if field.errors %}<div class="text-danger">{{ field.errors }}</div>{% endif %}
          </div>
        {% endfor %}
        <div id="form-message"></div>
        <input class="submit-button" type="submit" value="Submit">
      </form>
      <p class="copyright">All Rights Reserved - Chris Codes &copy;</p>
    </div>
  </div>
{% endblock %}
